<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Anthony Quinn</h1>
        <p>Bio and Fact sheet</p>
    </div>





<div class="row">

  <div class="col bg-warning text-danger">
    <p>
      I am a rising junior of class 2023 at Brandeis University.  As of
      now I am currently majoring in General Music Studies and I intend to minor in Spanish
      and Computer Science.  I have many interests, ranging from gaming, music, and reading.
      Classical Music is just one of many musical genres I enjoy and I hope you find some enjoyment out of them as well.
    </p>
    <p>
      I grew up in various places depending on age: I spent most of my time and school years
      in East Longmeadow, Massachusetts, a town close to Springfield. I spent 5th grade to my last year
      of highschool there.  All my grade school years previous were in Springfield.
    </p>

    <div class="bg-danger text-white">
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> East Longmeadow, Massachusetts</li>
        <li>Springfield, Massachusetts</li>
        <li> Boston, Massachusetts</li>
      </ul>
    </div>

    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="https://www.youtube.com/">Youtube</a></li>
      <li> <a href="https://www.twitch.tv/">Game Streaming</a></li>
    </ul>
  </div>

  <div class="col">
    <img width="100%" src="/images/WIN_20210604_18_03_29_Pro.jpg" >
  </div>

</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
