<%- include('bootheader') -%>

<div class="pt-5">
  <h1>Dawn Mitchell</h1>
</div>

<div class="row">

  <div class="col">

    <ul>
      <li> <a href="https://github.com/dmitchell5">Github</a></li>
    </ul>
    <p>
      I am a Master's student in Computer Science at Brandeis
      University and I also work in the Physics Department as a Department
      Coordinator! I earned my undergraduate degree in Geophysical Sciences from
      the University of Chicago and I studied paleontology before starting
      my Master's degree.
    </p>

  </div>

  <div class="col">
    <figure>
      <img src="/images/dawn.jpg"
       width="350" alt="photo of Dawn Mitchell with a butterfly on her nose" >
       <figcaption>
         A fortuitous moment on the Great Wall of China when a butterfly landed
         on my nose!
       </figcaption>
    </figure>
  </div>

</div>


<%- include('bootfooter') -%>
