<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
    <h1>Elizabeth Diener</h1>
</div>

<h2>What My Project is About</h2>
<table class="table table-striped table-bordered">
      <tbody>
          <tr>
            <td> Electronic health records </td>
          </tr>
          <tr>
            <td> Care coordination </td>
          </tr>
          <tr>
            <td> Behavioral management </td>
          </tr>
      </tbody>
</table>

<p> It's still a work in progress, but it's getting there. </p>

<%- include('bootfooter') -%>
